@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.active{
    background-color: #00ffea;
    border-color: #118b81;
}

select, input, textarea{
    border: 1px solid #c2c2c2;
    outline: #118b81;
    border-radius: 4px;
}